@font-face {
    font-family: Maiandra;
    src: url("Maiandra.ttf");
}

body {
    /* Background settings */
    background-color: #BE7B59;

    /* Display settings */
    overflow-x: hidden;

    /* Font settings */
    color: #FFF6F2;
    font-family: Maiandra;

    /* Proportions */
    margin: 0;
    padding: 4vh 0 0 0;
    width: 100%;
}

.card {
    /* Backgroud settings */
    background-color: #2F1C14;
    
    /* Border settings */
    border-radius: 10px;

    /* Proportions */
    padding: 2vh 2vw;
    margin: 0 auto 4vh auto;
    width: 90%;
}

.card h1 {font-size: 2.5em;}

.card .banner {
    /* Border settings */
    border: 0.125em solid #090603;
    border-radius: 20px;

    /* Display settings */
    display: block;

    /* Proportions */
    margin: 4vh auto 0 auto;
    width: 90%;
    max-width: 90%;
}

.card .license {
    max-width: 7%;
}

.card button {
    /* Background settings */
    background-color: #6A3429;
    
    /* Border settings */
    border: 0.125em solid #2B1815;
    border-radius: 20px;

    /* Display settings */
    display: block;

    /* Font settings */
    font-family: Maiandra;
    font-size: 1.25em;
    color: #FFF6F2;

    /* Proportions */
    height: 100%;
    margin: 2vh auto 4vh auto;
    padding: 2vh 2vw;
    width: 90%;
}

.card button:hover {
    /* Hover settings */
    background-color: #481207;
    border: 0.125em solid #090603;
    cursor: pointer;
}

.card .a1 {
    /* Font settings */
    color: #FFF6F2;
    font-size: 1.25em;
    text-decoration: none;
}

.card .a1:hover {
    /* Hover settings */
    color: #DDD4D0;
    cursor: pointer;
    text-decoration: underline;
}

.card .a2 {
    /* Font settings */
    color: #FFF6F2;
    text-decoration: none;
}

.card .a3 {
    /* Font settings */
    color: #FFF6F2;
    text-decoration: underline;
}

.card .a2:hover, .a3:hover {
    /* Hover settings */
    color: #DDD4D0;
    cursor: pointer;
    text-decoration: underline;
}

.card .a1:visited .a2:visited, .a3:visited {color: #FFF6F2;}

.card h2 {
    margin: 4vh 0 2vh 0}

.card ul li {
    line-height: 150%;
}

.card table {
    /* Border settings */
    border: none;

    /* Proportions */
    margin-bottom: 2vh;
}

.card iframe {
    /* Display settings */
    display: block;

    /* Proportions */
    height: 80vh;
    margin: 2vh auto;
    width: 80%;
}

.footer {
    /* Backgroud settings */
    background-color: #1A0704;

    /* Font settings */
    color: #FFF6F2;
    font-family: Maiandra;
    font-size: 0.75em;
    text-align: right;
    
    /* Proportions */
    height: 100%;
    margin: 0;
    padding: 2vh 2vw;
    max-width: 100%;
}

.footer a {color: #FFF6F2}

.footer a:hover {
    /* Hover settings */
    color: #DDD4D0;
    cursor: pointer;
    text-decoration: underline;
}